header {
  background-color: rgb(204, 222, 255);
  color: rgb(119, 39, 39);
  padding: 1.5rem;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: rgb(119, 39, 39);
  transition: opacity 0.3s ease;
}
nav li {
  display: inline-block;
  padding: 0px 10px;
}
nav a:hover {
  opacity: 0.5;
}

body {
  font-family: Futura, Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(125, 190, 175);
  color: rgb(119, 39, 39);
  max-width: 900px;
  margin: 0 auto;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li {
}

.endpoint-card {
  background-color: rgb(204, 222, 255);
  margin: 10%;
  padding: 1.5rem;
  border-radius: 2%;
}

main {
  text-align: center;
  padding: 1.5rem;
}

pre {
  text-align: left;
  white-space: pre-wrap;
}

footer {
  text-align: center;
  padding: 2rem;
}
